@import 'variabless.scss';
@import 'bussines.scss';
@import 'webshop.scss';
@import 'basic.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background-color: $color-page;
  color: $color-white;
  overflow: hidden;
  display: flex;
}

.price-table {
  margin: auto;
  display: flex;
}

.price-card {
  width: 380px;
  background: $color-card;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  padding-bottom: 40px;

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__title-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    margin: 0;
    margin-top: 33px;
  }

  &__title-subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__price {
    width: 100%;
    margin: 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  &__description {
    width: 327px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
  }

  &__options-list {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .checkmark {
    margin: 18px 22px 22px 19px;
    height: 13px;
    width: 15px;
  }

  &__list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    &:nth-child(odd) {
      background-color: $color-item;
    }
  }

  &__order-btn {
    display: block;
    margin: auto;
    margin-top: 39px;
    padding: 11px 26px 12px 27px;
    width: 153px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: $color-white;
  }
}
